{% extends 'base.html' %}
{% block tile %}Projects{% endblock %}
{% block content %}
    <h1 id="projects_page_title">Projects</h1>
    {% if projects %}
    <ul>
        {% for project in projects %}
        <section class="project">
            <li ><a href="{% url 'project_details' project.slug %}">{{ project.name }}</a></li>
            <p>
                {{ project.summary }}
            </p>
        </section>
        {% endfor %}
    </ul>
    {% else %}
    <aside>
        <p id="no_projects_label">
            Currently there are no projects to show.
        </p>
    </aside>
    {% endif %}
{% endblock %}
