{% extends 'navigation-base.html' %}
{% load staticfiles %}
{% block title %}Projects{% endblock %}

{% block navigation-buttons %}
    <li class="active"><a id="projects" href="{% url 'projects' %}">Projects</a></li>
    <li><a id="team" href="{% url 'team'%}">Team</a></li>
    <li><a id="about" href="{% url 'about' %}">About</a></li>
{% endblock %}

{% block content %}
    <main class="inner cover">
    {% if projects %}
    <ul>
        {% for project in projects %}
        <section class="project">
            <li><a href="{% url 'project_details' project.slug %}">{{ project.name }}</a></li>
            <p>
                {{ project.summary }}
            </p>
        </section>
        {% endfor %}
    </ul>
    {% else %}
    <aside>
        <p id="no_projects_label">
            Currently there are no projects to show.
        </p>
    </aside>
    </main>
    {% endif %}
{% endblock %}
