{% extends 'navigation-base.html' %}
{% load staticfiles %}
{% block title %}Team{% endblock %}

{% block extra-styles %}{% static 'css/team.css' %}{% endblock %}


{% block navigation-buttons %}
    <li>    <a id="projects" href="{% url 'projects' %}">Projects</a></li>
    <li class="active"><a id="team" href="{% url 'team'%}">Team</a></li>
    <li><a id="about" href="{% url 'about' %}">About</a></li>
{% endblock %}

{% block content %}
    <main class="inner cover">
    {% for member in members %}
        <section class="member">
            <h2>{{ member.name }}</h2>
            <h3>{{ member.position }}</h3>
            <p>
                {{ member.information }}
            </p>
        </section>
    {% endfor %}
    </main>
{% endblock %}
