{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    <link href="{% static 'css/get-in-touch.css' %}" rel="stylesheet">
{% endblock %}

{% block navigation-bar %}
<header>
    <nav class="masthead clearfix inner" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a href="{% url 'home' %}" id="skyglover_name">
                    <span><img src="{% static 'images/skyglover_logo.png' %}" width="75" alt="Skyglover logo"></span>
                    <span>skyglover</span>
                </a>
            </span>
        </div>
    </nav>
</header>
{% endblock %}

{% block title %}Get In Touch{% endblock %}
{% block content %}
    <h1 id="get_in_touch_page_title">Get In Touch</h1>
    <ul>
        <li id="twitter">Twitter</li>
        <li id="github">Github</li>
        <li id="email">Email</li>
    </ul>
    <p>
        Quito, Ecuador
    </p>
{% endblock %}
