{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    <link href="{% static 'css/navigation-base.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'css/get-in-touch.css' %}" rel="stylesheet">
{% endblock %}

{% block navigation-bar %}
<header>
    <nav class="masthead clearfix inner" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a href="{% url 'home' %}" id="skyglover_name">
                    <span><img src="{% static 'images/skyglover_logo.png' %}" width="75" alt="Skyglover logo"></span>
                    <span>skyglover</span>
                </a>
            </span>
        </div>
    </nav>
</header>
{% endblock %}

{% block title %}Get In Touch{% endblock %}
{% block content %}
    <main class="inner cover">
        <h1 id="get_in_touch_page_title">Get In Touch</h1>

        <ul class="nav navbar-nav">
            <li id="twitter">
                 <a class="btn btn-social-icon btn-twitter">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>
            <li id="github">
                <a class="btn btn-social-icon btn-github">
                    <span class="fa fa-github"></span>
                </a>
            </li>
            <li id="email">
                <a class="btn btn-social-icon btn-">
                    <span class="fa fa-envelope"></span>
                </a>
            </li>
        </ul>
        <br>
        <p>
            Quito, Ecuador
        </p>
    </main>
{% endblock %}
