{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a id="projects" href="{% url 'projects' %}">Projects</a></li>
                <li><a id="team" href="{% url 'team'%}">Team</a></li>
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Skyglover</a>
                </div>
                <li><a id="about" href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="text-center">
        <h1 id="skyglover_name">skyglover</h1>
        <p id="skyglover_description">
            We are a video game and mobile application company.
        </p>
    </main>
    <footer>
            <a id="get_in_touch" href="{% url 'get_in_touch' %}">Get in touch</a>
    </footer>
{% endblock %}
