<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a id="projects" href="{% url 'projects' %}">Projects</a></li>
                <li>Team</li>
                <li>About</li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>skyglover</h1>
        <p>
            We are a video game and mobile application company.
        </p>
    </main>
    <footer>
        <p>
            Get in touch
        </p>
    </footer>
</body>
</html>