{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand visible-xs">Skyglover</span>
                <span class="navbar-brand hidden-xs"><a href="{% url 'home' %}"><img src="{% static 'images/skyglover_logo.png' %}" width="100" alt="Logo Thing main logo"></a></span>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a id="projects" href="{% url 'projects' %}">Projects</a></li>
                    <li><a id="team" href="{% url 'team'%}">Team</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="about" href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="text-center">
        <h1 id="skyglover_name">skyglover</h1>
        <p id="skyglover_description">
            We are a video game and mobile application company.
        </p>
    </main>
    <footer>
            <a id="get_in_touch" href="{% url 'get_in_touch' %}">Get in touch</a>
    </footer>
{% endblock %}
