.navbar-brand {
  padding-top: 0px;
}

.navbar-toggle {
    z-index:3;
}

a {
  color: #fff;
}

a:hover {
  color: #111;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header*/
  .masthead {
    position: fixed;
    top: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

@media (min-width: 992px) {
  footer,
  .masthead,
  .cover-container {
    width: 80%;
  }
}

#skyglover_name {
  font-size: 7.0em;
}

main {
  margin-top: 2cm;
  margin-bottom: 2.5cm;
}

#get_in_touch {
  font-size: 15px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

#get_in_touch:hover {
  background-color: transparent;
  border-bottom-color: rgba(189,169,112,.75);
}
