#skyglover_name {
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

@media screen and (min-width: 48em){
    body{
        text-align: justify;
    }
    .navbar-nav > li + li {
      margin-left: 90px;
    }

    .navbar-header {
        float: left;
        text-align: justify;
        width: 100%;
    }
    .navbar-brand {
        text-align: justify;
        float:left;
    }
}

.project > li > a {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-top:30px;
    margin-bottom:10px;
    color: rgb(189,169,112);
}

.project > li {
    margin: 0 0 10px 0;
}

.project > p {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    margin: 0 0 25px 0;
    color: #dbdadd;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.navbar-brand > a {
    text-decoration: none;
}

.navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
}
