#skyglover_name {
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}

@media screen and (min-width: 48em){
    body{
        text-align: justify;
    }
    .navbar-nav > li + li {
      margin-left: 100px;
    }
}
