.navbar-brand {
  padding-top: 0px;
}

.navbar-toggle {
    z-index:3;
}

a {
  color: #fff;
}

a:hover {
  color: #111;
}

body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header*/
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 90%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 80%;
  }
}

/*
 * white hamburger menu
 */
.icon-bar {
  background-color: #fff;
}

#skyglover_name {
  font-family: Guayaba, sans-serif;
  font-size: 7.0em;
}


.navbar-nav > li {
  display: inline-block;
}
.navbar-nav > li + li {
  margin-left: 50px;
}

.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.navbar-nav > li > a:hover {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(189,169,112,.75);
}

main {
  margin-top: 2cm;
  margin-bottom: 2.5cm;
}

#get_in_touch {
  font-size: 15px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

#get_in_touch:hover {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(189,169,112,.75);
}
